name: "MuleSoft CloudHub 2.0 CI/CD - Automated Pipeline"

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

env:
  APP_NAME: cc-pipeline-auto-v1
  JAVA_VERSION: 11
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  RELEASE_TAG: "auto-v1.0.${{ github.run_number }}"

jobs:

  # RUN MUNIT TESTS

  test:
    name: "Run MUnit Tests"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java Environment
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Cache Maven Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: test-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Run MUnit Tests
        run: |
          mvn clean test -D"mule.env"="Sandbox" -D"mule.key"="${{ secrets.SANDBOX_MULE_KEY }}"

      - name: Upload MUnit Report
        uses: actions/upload-artifact@v4
        with:
          name: "munit-report"
          path: target/site/munit/coverage
          retention-days: 2

  # BUILD APPLICATION

  build:
    name: "Build Mule Application"
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Cache Maven Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: build-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Package Mule Application
        run: mvn -B package -DskipTests

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: "mule-artifact"
          path: target/*.jar
          retention-days: 2

  # PUBLISH TO EXCHANGE        

  publish:
    name: "Publish to Anypoint Exchange"
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java Environment
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}

      - name: Cache Maven Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: publish-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: "mule-artifact"

      - name: Publish Artifact to Exchange
        env:
          CLIENT_ID: ${{ secrets.connected_app_id }}
          CLIENT_SECRET: ${{ secrets.connected_app_secret }}
        run: |
          mvn clean deploy -DskipTests -DclientID=$CLIENT_ID -DclientSecret=$CLIENT_SECRET -s settings.xml

  # DEPLOY JOB

  deploy:
    name: "Deploy to CloudHub 2.0"
    runs-on: ubuntu-latest
    needs: publish
    environment:
      name: Sandbox
      url: https://anypoint.mulesoft.com

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java Environment
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}

      - name: Cache Maven Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: deploy-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: "mule-artifact"

      - name: "Deploy to CloudHub 2.0 (Environment Specific)"
        env:
          CLIENT_ID: ${{ secrets.CONNECTED_APP_ID }}
          CLIENT_SECRET: ${{ secrets.CONNECTED_APP_SECRET }}
        run: |
          mvn clean deploy -DmuleDeploy -DskipTests -DclientID=$CLIENT_ID -DclientSecret=$CLIENT_SECRET -D"mule.key"="${{ secrets.SANDBOX_MULE_KEY }}" -s settings.xml


  # EMAIL NOTIFICATION

  notify:
    name: "Send Deployment Status Email"
    runs-on: ubuntu-latest
    needs: deploy
    if: always()

    steps:
      - name: Send Email Notification
        uses: dawidd6/action-send-mail@v4
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.mail_username }}
          password: ${{ secrets.mail_password }}
          subject: "MuleSoft Auto Deployment - ${{ job.status }}"
          to: "csai22040@glbitm.ac.in"
          from: "Mule CI/CD <${{ secrets.mail_username }}>"
          body: |
            Hello Team,

            MuleSoft Automated Deployment Summary

            ▪ Application: cc-pipeline-auto-v1  
            ▪ Environment: Sandbox  
            ▪ Status: ${{ job.status }}  
            ▪ Triggered by: ${{ github.actor }}

            View Logs:
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

            Regards,  
            MuleSoft CI/CD Automation
